<div class="block_plp-plugin-page">
    <div class="row">
        {{#has_left}}
        <div class="block_plp-plugin-page-col col">
            {{#sections.left}}
                <div class="block_plp-section">
                    <div class="block_plp-section-heading">{{title}}</div>
                    <div class="block_plp-section-content">{{{display}}}</div>
                </div>
            {{/sections.left}}
        </div>
        {{/has_left}}
        {{#has_centre}}
        <div class="block_plp-plugin-page-col col">
            {{#sections.centre}}
                <div class="block_plp-section">
                    <div class="block_plp-section-heading">{{title}}</div>
                    <div class="block_plp-section-content">{{{display}}}</div>
                </div>
            {{/sections.centre}}
        </div>
        {{/has_centre}}
        {{#has_right}}
        <div class="block_plp-plugin-page-col col">
            {{#sections.right}}
                <div class="block_plp-section">
                    <div class="block_plp-section-heading">{{title}}</div>
                    <div class="block_plp-section-content">{{{display}}}</div>
                </div>
            {{/sections.right}}
        </div>
        {{/has_right}}
    </div>
</div>