{{#results}}
    <div class="block_plp-section_db_chart">
        <img src="data:image/png;base64,{{image}}" />
    </div>
{{/results}}
{{^results}}
    <p>{{#str}}noresults, block_plp{{/str}}</p>
{{/results}}