<form class="block_plp-form">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="sectionid" value="{{id}}">
    {{#fields}}
        <div class="block_plp-edit_item">
            {{{edit}}}
        </div>
    {{/fields}}
</form>