{{#options.options}}
    <div class="{{class}}">
        <input class="form-check-input" type="checkbox" name="{{elementname}}[]" value="{{value}}"
               {{#selected}}checked="true"{{/selected}} >
        <label class="form-check-label">{{name}}</label>
    </div>
{{/options.options}}