<select class="form-control" id="{{elementid}}" name="{{elementname}}">
    <option>{{#str}} pleasechoose, block_plp {{/str}}</option>
    {{#courses}}
        <option value="{{id}}" {{#selected}}selected="true"{{/selected}} >{{name}}</option>
    {{/courses}}
</select>