<input type="hidden" id="{{elementid}}" name="{{elementname}}" value="{{value}}">
<div class="block_plp-rating" data-element="{{elementid}}" data-number="{{options.number}}" data-score="{{value}}"></div>