/**
 * Config styles.
 */
div.block_plp-config {
    width: 100%;
    margin: auto;
    background-color: #efeded;
    border: 1px solid #000;
    padding: 1% 4%;
}

div.block_plp-build {
    float: right;
    text-align: right;
    font-size: 11px;
    color: #696969;
}

div.block_plp-build:after {
    clear: right;
}

ul.block_plp-config_menu {
    font-size: 12px;
    background: #404ac6;
    height: 50px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 20px 0 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 20px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 20px 0 0 rgba(255, 255, 255, 0.1);
}

ul.block_plp-config_menu li {
    float: left;
    padding: 0 0 0 5px;
}

ul.block_plp-config_menu > li:first-child {
    padding-left: 15px;
}

ul.block_plp-config_menu li a {
    color: #fff;
    display: block;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
}

ul.block_plp-config_menu li:hover > a,
ul.block_plp-config_menu li > a:focus,
ul.block_plp-config_menu li.selected > a {
    background: #707bd4;
    color: #fff;
    text-decoration: none;
    outline: inherit;
    box-shadow: inherit;
}

ul.block_plp-config_menu > li > a:hover,
ul.block_plp-config_menu > li.selected > a {
    -webkit-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.3);
}


ul.block_plp-config_menu li ul {
    display: none;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    width: 200px;
    z-index: 200;
}

ul.block_plp-config_menu li:hover > ul {
    display: block;
}

ul.block_plp-config_menu li li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #404ac6;
}

ul.block_plp-config_menu li:hover li a {
    background: none;
}

ul.block_plp-config_menu li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0;
    padding: 0 10px 0 15px;
    text-align: left;
}

ul.block_plp-config_menu li ul li:hover > a,
ul.block_plp-config_menu li ul li > a:focus,
ul.block_plp-config_menu li.selected ul li.selected > a {
    border: 0;
    color: #fff;
    background: #707bd4;
    text-decoration: none;
    outline: inherit;
    box-shadow: inherit;
}

ul.block_plp-config_menu li ul li ul li:hover a {
    background: #c7d18c;
    color: #000;
}

ul.block_plp-config_menu ul li ul {
    left: 100%;
    margin-top: -50px;
    display: none;
}

ul.block_plp-config_menu li ul li:hover ul {
    display: block;
}

ul.block_plp-config_menu li img {
    width: 16px;
    height: 16px;
}

ul.block_plp-config_menu li a i.fa {
    padding-right: 5px;
}

ul.block_plp-recent_activity {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.block_plp-recent_activity > li {
    min-height: 72px;
    background: #fff;
    padding: 6px;
    border-bottom: 1px dotted #eee;
    font-size: 11px;
}

ul.block_plp-recent_activity > li:hover {
    background: #efefef;
}

ul.block_plp-recent_activity > li > div:first-child {
    display: inline-block;
    vertical-align: top;
    width: 10%;
}

ul.block_plp-recent_activity > li > div:first-child > img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-size: 100%;
}

ul.block_plp-recent_activity > li > div:last-child {
    vertical-align: top;
    display: inline-block;
    width: 85%;
}

ul.block_plp-recent_activity > li > div:last-child table {
    width: 100%;
}

ul.block_plp-recent_activity > li > div:last-child table td {
    vertical-align: top;
}

ul.block_plp-recent_activity img {
    max-width: 100%;
    height: auto;
}

table.block_plp-sys_info {
    width: 98%;
    line-height: 30px;
}

table.block_plp-sys_info td {
    vertical-align: top;
}


/**
 * General, repeatable styles used across a multitude of pages.
 */
.block_plp-centre {
    text-align: center;
}

.block_plp-full_page {
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
}

div.block_plp-centre_panel {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

div.block_plp-side_panel {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

div.block_plp-side_panel table {
    width: 90%;
    margin: auto;
}

div.block_plp-side_panel table img {
    width: 12px;
    height: 12px;
}

div.block_plp-panel_heading {
    color: #fff;
    background-color: #42ca59;
    border-color: #44ca42;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 14px;
}

div.block_plp-panel_body {
    padding: 15px;
    background-color: #f4f4f4;
}

div.block_plp-panel_body div.block_plp-panel_body {
    background-color: #fdfdfd;
}

div.block_plp-panel_sub_heading {
    margin: auto;
    padding: 5px;
    color: #fff;
    background-color: #CA6B42;
    border: 1px solid #CA4242;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 13px;
}

div.block_plp-panel_heading a, div.block_plp-panel_sub_heading a,
div.block_plp-panel_heading a:visited, div.block_plp-panel_sub_heading a:visited,
div.block_plp-panel_heading a:active, div.block_plp-panel_sub_heading a:active {
    color: #fff;
}

a.block_plp-icon, a.block_plp-icon:hover, a.block_plp-icon:active, a.block_plp-icon:visited {
    text-decoration: none;
    box-shadow: none;
    outline: none;
    background: none;
}