<div class="block_plp-config">
    <div class="block_plp-build">{{#str}}build, block_plp{{/str}} {{plugin_version}}</div>
    <div class="block_plp-centre">TODO: Logo</div>
    {{> block_plp/core/config/_menu}}