<ul class="block_plp-config_menu">

    <li>
        <a href="{{wwwroot}}"><i class="fa fa-home"></i>{{#str}}home, block_plp{{/str}}</a>
    </li>
    <li class="{{#overview_selected}}selected{{/overview_selected}}">
        <a href="config.php?page=overview">{{#str}}overview, block_plp{{/str}}</a>
    </li>
    <li class="{{#settings_selected}}selected{{/settings_selected}}">
        <a href="config.php?page=settings">{{#str}}settings, block_plp{{/str}}</a>
    </li>
    <li class="{{#mis_selected}}selected{{/mis_selected}}">
        <a href="config.php?page=mis">{{#str}}mis, block_plp{{/str}}</a>
    </li>
    <li class="{{#plugins_selected}}selected{{/plugins_selected}}">
        <a href="config.php?page=plugins">{{#str}}plugins, block_plp{{/str}}</a>
    </li>

</ul>