{{> block_plp/core/config/_header}}

<div class='block_plp-panel_heading'>{{#str}}mis:long, block_plp{{/str}}</div>
<div class="block_plp-panel_body">

    <p class="block_plp-centre"><a href="{{{url_new}}}" class="btn btn-primary">{{#str}}mis:newconnection, block_plp{{/str}}</a></p>
    {{{connections}}}

</div>

{{> block_plp/core/config/_footer}}