{{> block_plp/core/config/_header}}

<div class='block_plp-panel_heading block_plp-blue'>{{#str}}plugins:install, block_plp{{/str}}</div>
<div class="block_plp-panel_body">
    {{{form}}}
</div>

<div class='block_plp-panel_heading'>{{#str}}plugins:manage, block_plp{{/str}}</div>
<div class="block_plp-panel_body">
    {{{plugins}}}
</div>

<div class='block_plp-panel_heading block_plp-red'>{{#str}}plugins:layouts, block_plp{{/str}}</div>
<div class="block_plp-panel_body">
    TODO
</div>

{{> block_plp/core/config/_footer}}