<div id="block_plp-plugin_pages_container">
    <div class="row">
        <div class="col-md-3">
            <p><a class="block_plp-plugin_pages_action" data-action="add_page" href="#">{{#str}}plugin:add:page,
                block_plp{{/str}}</a></p>
            <ul id="block_plp-plugin_pages">

            </ul>
        </div>
        <div id="block_plp-plugin_pages_content" class="col-md-9">

        </div>
    </div>
</div>