{{> block_plp/core/config/_header}}

<div class='block_plp-panel_heading'>{{#str}}generalsettings, block_plp{{/str}}</div>
<div class="block_plp-panel_body">
{{{form}}}
</div>

{{> block_plp/core/config/_footer}}