{{#enabledisable_url}}
    <a href="{{{enabledisable_url}}}" class="block_plp-action" title="{{enabledisable_title}}"><i class="fa fa-{{enabledisable_icon}}"></i></a>
{{/enabledisable_url}}

{{#edit_url}}
    <a href="{{{edit_url}}}" class="block_plp-action"><i class="fa fa-edit"></i></a>
{{/edit_url}}

{{#delete_url}}
    <a href="{{{delete_url}}}" class="block_plp-action"><i class="fa fa-trash"></i></a>
{{/delete_url}}
